<div class="col-md-8 col-md-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="content">Content</label>
            <textarea rows="6" placeholder="content" id="content" class="form-control" name="content" required [ngModel]="content?.content">
                
            </textarea>
            <label for="location">Location</label>
            <input 
                id="location"
                class="form-control"
                [ngModel]="content?.location"
                name="location"
                placeholder="location"
                required >
        </div>
        <button type="button" class="btn btn-danger" (click)="onClear(f)">Clear</button>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>